{% extends "common/base.html" %}
{% load static %}

{% block title %}Ventas{% endblock %}

{% block content %}

<script> 
    var colores = ['rgba(255,179,186,1)','rgba(255,223,186,1)','rgba(255,255,186,1)','rgba(186,255,201,1)','rgba(186,225,255,1)','rgba(90, 237, 213,1)','rgba(48, 137, 172,1)','rgba(254, 196, 118,1)','rgba(209, 64, 109,1)','rgba(163, 54, 180,1)','rgba(141, 196, 79,1)','rgba(28, 164, 92,1)','rgba(255, 199, 24,1)','rgba(255, 158, 15,1)','rgba(218, 72, 59,1)','rgba(68, 134, 244,1)','rgba(233, 234, 235,1)','rgba(155, 71, 159,1)','rgba224, 74, 63,1)','rgba(255, 211, 78,1)','rgba(13, 171, 98,1)','rgba(68, 138, 253,1)','rgba(231,174,191,1)','rgba(65,188,174,1)','rgba(186,185,181,1)','rgba(42,95,109,1)','rgba(124,57,72,1)'];
    var colores_back = ['rgba(255,179,186,0.5)','rgba(255,223,186,0.5)','rgba(255,255,186,0.5)','rgba(186,255,201,0.5)','rgba(186,225,255,0.5)','rgba(90, 237, 213,0.5)','rgba(48, 137, 172,0.5)','rgba(254, 196, 118,0.5)','rgba(209, 64, 109,0.5)','rgba(163, 54, 180,0.5)','rgba(141, 196, 79,0.5)','rgba(28, 164, 92,0.5)','rgba(255, 199, 24,0.5)','rgba(255, 158, 15,0.5)','rgba(218, 72, 59,0.5)','rgba(68, 134, 244,0.5)','rgba(233, 234, 235,0.5)','rgba(155, 71, 159,0.5)','rgba224, 74, 63,0.5)','rgba(255, 211, 78,0.5)','rgba(13, 171, 98,0.5)','rgba(68, 138, 253,0.5)','rgba(231,174,191,0.5)','rgba(65,188,174,0.5)','rgba(186,185,181,0.5)','rgba(42,95,109,0.5)','rgba(124,57,72,0.5)'];
</script>

<script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/jquery-ui.min.css' %}" />  

<div class="mt-4 mb-4 pt-2">
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioDay" value="day">
        <label class="form-check-label" for="inlineRadio1">Día</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioMonth" value="month" checked>
        <label class="form-check-label" for="inlineRadio2">Mes</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="radioYear" value="year">
        <label class="form-check-label" for="inlineRadio3">Año</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="text" class="form-control" id="dpInicio">
        <label class="form-check-label" for="inlineRadio2" style="font-size:10px;">Fecha Comparacion 1</label>
    </div>
    <div class="form-check form-check-inline">
        <input type="text" class="form-control" id="dpFin">
        <label class="form-check-label" for="inlineRadio2" style="font-size:10px;">Fecha Comparacion 2</label>
    </div>
    <div class="form-check form-check-inline">
        <button type="button" class="btn btn-primary" id="buscar">Ver <i class="fas fa-chart-bar"></i></button>
    </div>
    <div class="form-check form-check-inline">
        <i class="fas fa-cog fa-spin fa-2x" style="color: #006591; display:none;" id="loading-ico"></i>
    </div>
</div>



<div class="row">
    <div class="col">
        <div class="alert alert-primary" role="alert">
                Ventas: $<span id="total_ventas"></span>
        </div>
    </div>
    <div class="col">            
        <div class="alert alert-info" role="alert">
				
                Productos vendidos: <span id="total_cant_prod_vendidos"></span>         Meta primer semestre: 20 <IMG SRC="imageBox" id="imageBox" WIDTH=40 HEIGHT=40 BORDER=0>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
            <canvas id="evolucionChart" width="50" height="50"></canvas>
    </div>
    <div class="col">
        <canvas id="productosCantChart" width="50" height="50"></canvas>
    </div>   
    <div class="col-sm">
        <canvas id="productosValChart" width="50" height="50"></canvas>
    </div>
</div>
<div class="row">        
    <div class="col" style="display:none;">
        <canvas id="partnersChart" width="50" height="50"></canvas>
    </div>
     
</div>

<script>
    var pVal = document.getElementById("productosValChart");
    var productosValChart = new Chart(pVal, {
        type: 'pie',
        data: {
            labels:'',
            datasets: [{
                label: 'Total vendido ($)',
                data: '',
                backgroundColor: colores,
                borderColor: colores_back,
                borderWidth: 1.5
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Total de Cursos vendidos ($)'
            },
            legend: {
                display: false
            }
        }
    });
    var pCant = document.getElementById("productosCantChart");
    var productosCantChart = new Chart(pCant, {
        type: 'pie',
        data: {
            labels:'',
            datasets: [{
                label: 'Total vendido ($)',
                data: '',
                backgroundColor: colores,
                borderColor: colores_back,
                borderWidth: 1.5
            }]
        },
        options: {
            title: {
                display: true,
                text: 'Cantidad de Cursos vendidos (u)'
            },
            legend: {
                display: false
            }
        }
    });
    var ev = document.getElementById("evolucionChart");
    var evolucionChart = new Chart(ev, {
        type: 'bar',
        data: {
            labels: '',
            datasets: [{
                label: 'Total',
                data: '',
                backgroundColor: colores,
                borderColor: colores_back,
                borderWidth: 1.0
            }]
        },
        options: {
            title: {
                    display: true,
                    text: 'Comparación de las ventas'
            },
            plugins: {
                labels: {
                    render: 'value',
                }
            },
            legend: {
                    display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    type: 'category',
                    ticks: {
                        autoSkip:false
                    }
                }]
            }
        }
    });
    var pr = document.getElementById("partnersChart");
    var partnersChart = new Chart(pr, {
        type: 'bar',
        data: {
            labels: '',
            datasets: [{
                label: 'Total',
                data: '',
                backgroundColor: colores,
                borderColor: colores_back,
                borderWidth: 1.0
            }]
        },
        options: {
            title: {
                    display: true,
                    text: 'Ventas a clientes'
            },
            plugins: {
                labels: {
                    render: 'value',
                }
            },
            legend: {
                    display: false
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    type: 'category',
                    ticks: {
                        autoSkip:false
                    }
                }]
            }
        }
    });
</script>

<script>
	var meta=0;
    var fecha = new Date();
    fecha.setMonth(fecha.getMonth()-3);
    var opciones = {  
        closeText: 'Cerrar',
        prevText: '<Ant',
        nextText: 'Sig>',
        currentText: 'Hoy',
        monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
        dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
        dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
        dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
        weekHeader: 'Sm',
        dateFormat: 'dd/mm/yy',
        firstDay: 1,
        isRTL: false,
        showMonthAfterYear: false,
        yearSuffix: '',
        setDate: fecha
    };
    $( function() {
      $( "#dpInicio" ).datepicker( opciones);
      $( "#dpFin" ).datepicker( opciones);      
      $('#dpInicio').datepicker("setDate", fecha);
      $('#dpFin').datepicker("setDate", new Date());
    });
    $('#buscar').click(()=>{
        $("#loading-ico").show();
        $("#buscar").prop( "disabled", true );
        var tipo = $("#radioDay").is(':checked') ? 'dia':($("#radioMonth").is(':checked') ? 'mes' : 'year');
        $.ajax({
        url: '/ventas/data',
        data: {
          'tipo': tipo,
          'inicio': $('#dpInicio').val(),
          'fin': $('#dpFin').val(),
        },
        dataType: 'json',
        success: function (data) {
            // chart productos-valor
            console.log(data);
            productosValChart.data.datasets[0].data = data.list_prod_valor;
            productosValChart.data.labels = data.list_prod_nombre;
            productosValChart.update();
            // chart productos-cantidad
            productosCantChart.data.datasets[0].data = data.list_prod_cantidad;
            productosCantChart.data.labels = data.list_prod_nombre;
            productosCantChart.update();
            // chart ventas-tiempo
            evolucionChart.data.labels = data.nombre_mes;
            evolucionChart.data.datasets[0].data = data.ventas_mes;
            //evolucionChart.data.labels[1] = data.nombre_mes2;
            //evolucionChart.data.datasets[1] = data.ventas_mes2;
            
            evolucionChart.update();
            // chart partners-total
            partnersChart.data.datasets[0].data = data.list_partners_amount;
            partnersChart.data.labels = data.list_partners;
            partnersChart.update();
            // datos 
            $('#total_cant_prod_vendidos').text(data.total_cant_prod_vendidos);
            $('#total_ventas').text(data.total_ventas);
			$('#meta').text(data.meta);
            $("#loading-ico").hide();
            $("#buscar").prop( "disabled", false );
			console.log(data.list_prod_cantidad);
			
			
			for (var i = 0; i < data.list_prod_cantidad.length; i++) {
			meta+=data.list_prod_cantidad[i];
			}
			
			$("#meta").val(meta);
			if(meta<20){
				document.getElementById('imageBox').src="{% static 'js/archivo1.jpg' %}";	
			}
			if(meta==10){
				document.getElementById('imageBox').src="{% static 'js/archivo2.jpg' %}";	
			}
			if(meta>=20){
				document.getElementById('imageBox').src="{% static 'js/archivo3.jpg' %}";	
			}
			
			
			console.log(meta);
        },
        error: function (data){
          $("#loading-ico").hide();
          $("#buscar").prop( "disabled", false );
        }
      });
        

    });
    function addData(chart, label, data) {
        chart.data.labels.push(label);
        chart.data.datasets.forEach((dataset) => {
            dataset.data.push(data);
        });
        chart.update();
    }
    function removeData(chart) {
        chart.data.labels.pop();
        chart.data.datasets.forEach((dataset) => {
            dataset.data.pop();
        });
        chart.update();
    }
      
</script>

{% endblock %}

